
*, *::before, *::after {
  box-sizing: border-box;
}
body{
  background: #CED4DA;
  position: relative;
  min-height: 100vh;
}

html,
body{
  height: 100%;
  margin: 0;
  padding: 0;
}


#menu-button img {
  filter: brightness(0) invert(1);
}



nav {

  background: #212529;
  button {
    cursor: pointer;
  }
  ul {
    li{
      a{
        color: lightgray;
        &:hover{
          color: #999;
        }
      }
    }
  }
}

.main-header{

}

.clock-container {
  #clock {
    //width: 200px;
    //position: fixed;
    //bottom: 0;
    //left: 0;
    //z-index: 1000;
    //border-top-right-radius: 50px;
    //opacity: 0.3;

    z-index: -1;
    border-top-right-radius: 50px;
    opacity: 0.3;

  }
}